
<div class="container-fluid py-4">
  <div class="row align-items-center">
    <div class="col-md-2 d-flex align-items-center">
      <img src="assets/images/logo.png" alt="UTECAN Logo" class="logo">
    </div>
    <div class="col-md-8 text-center">
      <h1 class="main-title">Biblioteca UTECAN</h1>
      <p class="sub-title">Tu espacio para explorar el conocimiento</p>
    </div>
    <div class="col-md-2 d-flex justify-content-end align-items-center">
      <div class="cart-container">
        <span>Carrito</span>
        <div class="cart-count">0</div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid py-2" style="background-color: #0A6437;">
  <nav class="d-flex justify-content-center">
    <ul class="list-unstyled d-flex text-white m-0" style="gap: 30px;">
      <li><button class="btn btn-outline-light px-4 py-2">Inicio</button></li>
      <li><button class="btn btn-outline-light px-4 py-2" [routerLink]="['/acercade']">Acerca de</button></li>
      <li class="dropdown">
        <a class="btn btn-outline-light px-4 py-2 dropdown-toggle" href="#" data-bs-toggle="dropdown">Lista</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item text-white" [routerLink]="['/libro-agregar']">Agregar Libro</a></li>
          <li><a class="dropdown-item text-white" href="#">Libros Populares</a></li>
          <li><a class="dropdown-item text-white" href="#">Nuevos Libros</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
