<div *ngIf="libro" class="container-md mt-5">
    <div class="row">
        <div class="col-md-5">
            <img [src]="libro.imagen" alt="" height="500px" width="400px">
        </div>
        <div class="col-md-7">
            <h2 class="text-center">{{libro.titulo}}</h2>
            <p class="mt-5">{{libro.resena}}</p>
            <div>
                <h5 class="mt-5">Autor</h5>
                <p class="">{{libro.autor}}</p>
            </div>
            <div class="mt-5">
                <h5>año de emision</h5>
                <p>{{libro.ano}}</p>
            </div>
            <div class="mt-5">
                <h5>Link de descarga:</h5>
                <a href="">Link para descargar : <span>{{libro.titulo}}</span></a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!libro" class="container mt-5">
    <div class="alert alert-warning text-center">
        No se ha seleccionado ningún libro
    </div>
</div>