<div class="container">
    <h2>Agregar Libro</h2>
    <form (ngSubmit)="agregarLibro()">
      <div>
        <label for="titulo">Título</label>
        <input type="text" id="titulo" [(ngModel)]="titulo" name="titulo" required>
      </div>
      
      <div>
        <label for="autor">Autor</label>
        <input type="text" id="autor" [(ngModel)]="autor" name="autor" required>
      </div>
      
      <div>
        <label for="pdf">Archivo PDF</label>
        <input type="file" id="pdf" (change)="onFileChange($event)" required>
      </div>
  
      <div>
        <label for="imagen">Imagen (Portada)</label>
        <input type="file" id="imagen" (change)="onImageChange($event)" required>
      </div>
      
      <button type="submit">Guardar</button>
    </form>
  </div>
    